.border-container{
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgray;
}

.pago-container{
    padding: 5%;
}

.color {
    background-color: #007EA7 !important;
    color: white !important;
}