#CardsContainer {
    margin: 0 5em;
}

.ReservaCard {
    position: fixed;
    width: 480px;
}

@media only screen and (max-width: 600px) {
    #CardsContainer {
        margin: 0 1em;
        margin-top: 50vh;
    }

    .ReservaCard {
        position: absolute;
    }
  }