.prueba {
    width: 25%;
    height: 75%;
}

.titulo {
    color: black;
}

.border-container{
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgray;
}

.login-container {
    padding: 5%;
}

.registrar-container {
    padding-top: 5%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgray;
}

.content-body {
    padding-top: 5%;
}

.error-container {
    background-color: lightpink;
    border-radius: 5px;
    padding: 2%;
}